{% extends "base.html" %} {% block title %}ГАРАНТИИ{% endblock %}{% block
background %}
<div class="relative">
  <div
    class="absolute inset-0 flex flex-col"
    style="
      background-image: url('/static/images/samuraiback.png');
      background-size: cover;
      background-position: center;
      height: 100vh;
      backdrop-filter: blur(2px);
      z-index: -1; /* Устанавливаем z-index, чтобы фон был под контентом */
    "
  ></div>
  {% endblock %} {% block content %}

  <!-- ✅ Grid Section - Starts Here 👇 -->
  <!-- component -->
  <div class="px-2 py-4 md:lg:xl:px-40 py-20 bg-opacity-10">
    <div
      class="grid grid-cols-1 md:lg:xl:grid-cols-3 group bg-white shadow-xl border"
    >
      <div
        class="p-8 flex flex-col items-center text-center group md:lg:xl:border-r md:lg:xl:border-b hover:bg-slate-50 cursor-pointer"
      >
        <img src="/static/images/support.svg" alt="" class="h-20 w-20" />
        <p class="text-xl font-medium text-slate-700 mt-3">Поддержка</p>
        <p class="mt-2 text-sm text-slate-500">
          При возникновении вопросов обращайтесь в нашу службу поддержки
        </p>
      </div>

      <div
        class="p-8 flex flex-col items-center text-center group md:lg:xl:border-r md:lg:xl:border-b hover:bg-slate-50 cursor-pointer"
      >
        <img src="/static/images/mail.svg" alt="" class="h-20 w-20" />
        <p class="text-xl font-medium text-slate-700 mt-3">
          Моментальная доставка
        </p>
        <p class="mt-2 text-sm text-slate-500">
          Вы моментально получаете товар после оплаты
        </p>
      </div>

      <div
        class="p-8 flex flex-col items-center text-center group md:lg:xl:border-b hover:bg-slate-50 cursor-pointer"
      >
        <img src="/static/images/payment.svg" alt="" class="h-20 w-20" />
        <p class="text-xl font-medium text-slate-700 mt-3">Способы оплаты</p>
        <p class="mt-2 text-sm text-slate-500">
          Мы предоставляем удобные и безопасные способы оплаты, чтобы сделать
          процесс покупки максимально простым для наших клиентов
        </p>
      </div>

      <div
        class="p-8 flex flex-col items-center text-center group md:lg:xl:border-r hover:bg-slate-50 cursor-pointer"
      >
        <img src="/static/images/guarantee.svg" alt="" class="h-20 w-20" />
        <p class="text-xl font-medium text-slate-700 mt-3">Гарантия качества</p>
        <p class="mt-2 text-sm text-slate-500">
          Все аккаунты полностью соответствуют описанию и не имеют блокировок
        </p>
      </div>

      <div
        class="p-8 flex flex-col items-center text-center group md:lg:xl:border-r hover:bg-slate-50 cursor-pointer"
      >
        <img src="/static/images/safepayment.svg" alt="" class="h-20 w-20" />
        <p class="text-xl font-medium text-slate-700 mt-3">
          Полная конфиденциальность и безопасность данных
        </p>
        <p class="mt-2 text-sm text-slate-500">
          Мы ценим вашу конфиденциальность и обеспечиваем полную защиту ваших
          личных данных. Вся информация, предоставленная вами при оформлении
          заказа не передается третьим лицам без вашего согласия
        </p>
      </div>

      <div
        class="p-8 flex flex-col items-center text-center group hover:bg-slate-50 cursor-pointer"
      >
        <img src="/static/images/safety.svg" alt="" class="h-20 w-20" />
        <p class="text-xl font-medium text-slate-700 mt-3">
          Гарантия на товары
        </p>
        <p class="mt-2 text-sm text-slate-500">
          Покупая в нашем магазине, Вы можете быть уверены в работоспособности
          аккаунтов, ведь они проходят проверку
        </p>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
