<div class="flex justify-center items-center h-screen">
  <div class="w-full max-w-md">
    <h1 class="text-2xl text-center mb-4">Вход в систему</h1>

    <form
      class="bg-white border border-black rounded px-8 pt-6 pb-8 mb-4"
      method="POST"
      action=""
    >
      {{ form.hidden_tag() }}
      <div class="text-center">
        <div class="mb-4">{{ form.username }}</div>
        {% if form.username.errors %}
        <p class="text-red-500 text-xs italic">{{ form.username.errors[0] }}</p>
        {% endif %}

        <div class="mb-4">{{ form.password }}</div>
        {% if form.password.errors %}
        <p class="text-red-500 text-xs italic">{{ form.password.errors[0] }}</p>
        {% endif %}
        <button
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        >
          {{ form.submit }}
        </button>
      </div>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul>
      {% for category, message in messages %}
      <li class="{{ category }} text-red-400 text-center">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <p class="text-center">Еще не зарегистрировались?</p>
    <a
      href="{{url_for('routes.signup')}}"
      class="block text-center text-blue-500 hover:text-blue-900"
      >Регистрация</a
    >
  </div>
</div>
